.textBoxContainer {
    padding: 100px 50px;
}

.searchInput {
    height: 50px;
    width: 600px;
    border: 1px solid #817b7b;
    background-color: transparent;
    color: #141414;
    font-size: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
}

.searchInput:focus {
    border: 1px solid #dedede;
    box-shadow: 1px 1px 5px #1414143b;
}

.results {
    color: #141414;
}